body{
  font-family: 'Montserrat', sans-serif;
}
header{
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa{
  position: relative;
  margin: 0 auto;
  width: 940px;
}

nav{
  position: absolute;
  top: 110px;
  right: 0;
}

nav li{
 display: inline;
 margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}


.Banner{
  width: 100%;
  margin: 2em 0;
}

.Principal{
  background: #FEFEFE;
}

.Conteudo-principal{
  width: 940px;
  margin: 0 auto;
}

.Titulo-principal{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em;
  clear: left;
}

.utensilios{
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.paragrafo{
  text-align: center;
  font-size: 18px;
}

.paragrafo p{
  display: inline;
  margin: 0 0 1em;
}
.paragrafo strong{
  font-weight: bold;
}

.paragrafo em{
  font-style: italic;
}

em strong{
  color: #C78C19;
  font-size: 23px
}

.Mapa{
  background: linear-gradient(#FEFEFE, #888888);
}

.Mapa p{
  margin: 0 0 2em;
  text-align: center;
}

.Mapa-grafico{
  padding: 3em, 0;
  width: 940px;
  margin: 0 auto;
}

.Beneficios{
  padding: 3em 0;
  background: #888888;
}

.Conteudo-beneficios{
  width: 940px;
  margin: 0 auto;
}

.Lista-beneficios{
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.Itens{
  font-style: italic;
  line-height: 1.5;
}

.Itens:first-child{
  font-weight: bold;
}

.Itens:before{
  content: '★';
}

.Imagem-beneficios{
  width: 55%;
}

.Video{
  width:  560px;
  margin: 2em auto;
}

footer{
  box-sizing: border-box;
  height: 349px;
  text-align: center;
  background: url('../Imagens/bg.jpg');
  padding: 40px 0;
}

.copyright{
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}
